version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: pg-photo-gallery-dev
    environment:
      POSTGRES_DB: photo_gallery
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    container_name: minio-photo-gallery-dev
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data_dev:/data
    ports:
      - "9000:9000"
      - "9001:9001"

volumes:
  postgres_data_dev:
  minio_data_dev:
